<header class="header">
  <div class="logo">
    <img src="assets/LogoRAC.png" alt="Garage RAC logo" />
    <span class="logo-text">Revive Auto Clinic</span>
  </div>

  <button class="hamburger" (click)="toggleMenu()" [class.active]="menuOpen">
    <span></span>
    <span></span>
    <span></span>
  </button>

  <nav *ngIf="!isMobile" [class.active]="menuOpen">
    <a (click)="scrollToSection('home'); $event.preventDefault()" href="#">Home</a>
    <a (click)="scrollToSection('serviceSection'); $event.preventDefault()" href="#">Services</a>
    <!-- <a href="#">Projects</a> -->
    <a (click)="scrollToSection('about'); $event.preventDefault()" href="#">About</a>
    <a (click)="scrollToSection('contact'); $event.preventDefault()" href="#">Contact</a>
  </nav>

  <nav *ngIf="menuOpen" [class.active]="menuOpen">
    <a (click)="scrollToSection('home'); $event.preventDefault()" href="#">Home</a>
    <a (click)="scrollToSection('serviceSection'); $event.preventDefault()" href="#">Services</a>
    <!-- <a href="#">Projects</a> -->
    <a (click)="scrollToSection('about'); $event.preventDefault()" href="#">About</a>
    <a (click)="scrollToSection('contact'); $event.preventDefault()" href="#">Contact</a>
  </nav>

  <!-- <button>Book Now</button> -->
</header>
